body{
 background-color: #f5f1f1;
}
body, ul {
 margin: 0;
 padding: 0;
}
.navbar {
 display: flex;
 width: 100%;
 position: fixed;
 top: 0%;
 justify-content: space-between;
 align-items: center;
 background-color: black;
 padding: 10px 20px;
 color: white;
}
.logo img {
 height: 30px;
}

.links ul {
 list-style: none;
 display: flex;
}

.links li {
 margin-right: 30px;
}

.links a {
 text-decoration: none;
 color: white;
 font-weight: bold;
}
.proficiency_part{
 display: flex;
 padding-left: 5%;
}
.proficiency{
 padding-left: 5%;
}
.row1{
 flex: 50%;
}
.proficiency_image{
 flex: 50%;
 border-radius: 10px;
}
.proficiency_image img{
 padding-top: 3%;
 height: 230px;
 width: 500px;
 padding-left: 10%;

}
.first_line{
 height: 30px;
 width: 90%;
 border: 1px solid black;
 border-radius: 10px;
 background: linear-gradient(to right, #007bff 70%, #ccc 30%);
}
.second_line{
 height: 30px;
 width: 90%;
 border: 1px solid black;
 border-radius: 10px;
 background: linear-gradient(to right, #007bff 90%, #ccc 10%);
}
.third_line{
 height: 30px;
 width: 90%;
 border: 1px solid black;
 border-radius: 10px;
 background: linear-gradient(to right, #007bff 80%, #ccc 20%);
}
.text{
 padding-left: 5%;
}
.footer {
 position: fixed;
 bottom: 0%;
 width: 100%;
 height: 80px;
 text-align: center;
 background-color: black;
 color: white;
}